---
layout: default
---

<div class="home">

    
    <main class="page-content" aria-label="Content">

        <div class="wrapper">
            {% for file in site.static_files %}
                {% if file.path == site.headshot %}
                    {% include headshot.html image=file.path %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="wrapper">
            Hello!
            I am a software developer from the UK, working primarily in web and cloud computing.
            My current employer is <a href="https://lambertlabs.com">Lambert Labs.</a>
            <br />
            <br />
            Main technologies:
            <br />
            <em>python (django, scrapy),
            google cloud platform,
            amazon web services</em>
            <br />
            <br />
            More about me:
            <a href="{{ site.url }}/full-cv.pdf">CV</a>, <a href="/bio">Bio</a>, 
            <a href="mailto:grking8@gmail.com">Email</a>
        </div>
    </main>
</div>
